/* استيراد الملف الأساسي */
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-material.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --container-7xl: 80rem;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
  color: #0f172a;
  box-sizing: border-box;
  border: 0 solid;
  margin: 0;
  padding: 0;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.max-w-7xl {
  max-width: var(--container-7xl);
}