<div class="flex h-[calc(100vh-64px)] min-h-[720px] bg-white">
  <app-kiosk-locations-sidebar
    [kiosks]="filteredKiosks()"
    [selectedKioskId]="selectedSidebarKioskId()"
    [searchTerm]="searchTerm()"
    [statusFilter]="statusFilter()"
    (searchTermChange)="setSearchTerm($event)"
    (statusFilterChange)="setStatusFilter($event)"
    (kioskSelected)="selectKiosk($event)"
  ></app-kiosk-locations-sidebar>

  <app-interactive-map-canvas
    [kiosks]="filteredKiosks()"
    [selectedKiosk]="selectedKiosk()"
    [statusCounts]="statusCounts()"
    (kioskSelected)="selectKiosk($event)"
  ></app-interactive-map-canvas>
</div>
